{% extends 'frontend.html.twig' %}
{% block title %}Pasarela{% endblock %}
{% block body %}
<h1>Pasarela de pago</h1>
<ul>
    <li><a href="{{path('pasarela_paypal')}}">Paypal</a></li>
</ul>
{% endblock %}