{% extends 'frontend.html.twig' %}
{% block title %}Pasarela{% endblock %}
{% block body %}
<h1>PayPal<strong> cancelado</strong></h1>
<div class="alert alert-warning">
La transacción <strong>{{id}}</strong> ha sido cancelada
</div>

{% endblock %}