{% extends 'frontend.html.twig' %}

{% block title %}Doctrine{% endblock %}

{% block body %}
<h1>Dotrine ORM</h1>
composer require symfony/orm-pack<br>
composer require --dev symfony/maker-bundle
<ul>
    <li><a href="{{path('doctrine_categoria')}}">Categorías</a></li>
    <li><a href="{{path('doctrine_productos')}}">Productos</a></li>

</ul>
{% endblock %}